.about {
  background-color: #0a2850;
  color: #ffff;
  padding: 100px 80px 173px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.about__title {
  max-width: 251px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  z-index: 1;
}

.about__content {
  max-width: 660px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 19px;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.about__circle {
  position: absolute;
  top: -152px;
  left: -129px;
  background-color: #1878dc;
  border-radius: 50%;
  height: 426px;
  width: 426px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
