.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  font-family: "inter, arial, sans-serif";
  padding: 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__column-heading {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.footer__social-link:hover {
  opacity: 0.7%;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin: 108px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
