.reservation {
  padding: 100px 0 120px;
  background-position: center;
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-image: url("../images/background_reservation.svg");
}

.reservation__title {
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
}
